.App {
  text-align: center;
}

html {
  font-size: 20px;
  font-family: sans-serif;
}
ul {
  padding: 10px;
}
li {
  line-height: 160%;
  padding: 10px 10px;
  cursor: pointer;
  list-style: none;
}

li:nth-child(even) {
  background-color: blanchedalmond;
}
li:nth-child(odd) {
  background-color: cornsilk;
}

.merchant-card {
  width: 500px;
  text-align: center;
  background-color: bisque;
  border-radius: 5%;
}
.merchant {
  width: 400px;
  height: 400px;
  padding: 50px;
}
.input {
  height: 25px;
  border-radius: 5px;
  background-color: #5f5e5e;
  color: white;
  border: thin;
  text-align: center;
}
